

//-
  # Portfolio
  - `originalFileContent`: New
  - `sourceAuthor`: jcruz
  - `title`: Dynamic-Site Portfolio
  - `description`: Team Treehouse Unit Project 6. Server-side JavaScript practice.
  - `majorVersionCode`: initial
  - `gitHeirarchy`: git submodule for `axaeon.com`
  - `projectCode`: 6tth
  - `author`: jcruz
  - `email`: jcruz@axaeon.com
  - `centralRepo`: https://github.com/jcruzaxaeon/portfolio.git
  - `branch`: main
  - `org`: Team Treehouse
  - `orgType`: Code Academy
  - `certification`: Fullstack JavaScript Techdegree
  - `lesson`: Unit Project 6
  - `topics`: Node.js, Express, Pug

extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= projects[i].project_name
        p= projects[i].description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in projects[i].technologies
            li= tech

        a.btn-link(href=`${projects[i].live_link}`, target='_blank') Live Demo
        a.btn-link(href=`${projects[i].github_link}`, target='_blank') GitHub Repo

    .project-img-box.box
      img.project-img(src=`${projects[i].image_urls[0]}`, alt=`${projects[i].project_name}`)
      img.project-img(src=`${projects[i].image_urls[1]}`, alt=`${projects[i].project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back

